<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <h2>Forgot your password?</h2>
      <form clrForm *ngIf="resetForm" [formGroup]="resetForm" (ngSubmit)="resetPassword()" class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <label for="email-for-pass">We'll send a recovery link to</label>
            <input type="text" formControlName="email" class="form-control" placeholder="Enter email"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <small class="form-text text-muted">Enter the email address you used during the registration.</small>
            <span class="invalid-feedback" *ngIf="f.submitted && !email.valid">Email is required</span>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Send recovery link
          </button>
          <a routerLink="../login" class="btn btn-link">Return to log in</a>
        </div>
      </form>
    </div>
  </div>
</div>
