.login-page {
  .brand {
    width   : 40%;
    height  : 20%;
    margin  : 40px auto auto auto;
    position: relative;
    z-index : 1;

    img {
      width: 100%;
    }
  }
}

label[for='login-password'] {
  width        : 100%;
  font-size    : 14px;
  margin-bottom: 0 !important;
}

.login-title {
  text-align: center;
  margin    : 0 0 1.5rem 0;
}
