<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <h2>Reset your password?</h2>
      <form clrForm *ngIf="resetForm && !confirmationResetSucceed" [formGroup]="resetForm" (ngSubmit)="resetPassword()"
        class="card mt-4">
        <div class="card-body">
          <div class="form-group">
            <input type="password" formControlName="newPassword" class="form-control" placeholder="Enter new password"
              [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" />
            <span *ngIf="submitted && f.newPassword.errors?.required" class="invalid-feedback">
              {{'users.editor.NewPasswordRequired' | translate}}
            </span>
            <span *ngIf="submitted && f.newPassword.errors?.minlength" class="invalid-feedback">
              Password must be at least 6 characters long.
            </span>
          </div>
          <div class="form-group">
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password"
              [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
            <span *ngIf="submitted && f.confirmPassword.errors?.required" class="invalid-feedback">Confirm Password is required.</span>
            <span *ngIf="submitted && f.confirmPassword.errors?.mustMatch" class="invalid-feedback">Password and Confirm Password must match.</span>
          </div>
        </div>
        <div class="card-footer">
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Change password
          </button>
          <a routerLink="../login" class="btn btn-link">Return to log in</a>
        </div>
      </form>
      <span *ngIf="confirmationResetSucceed">Your password has been reset. Please click here to <a
          [routerLink]="['/login']" class="card-link">login</a></span>
    </div>
  </div>
</div>
