<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <h4 class="card-title">Create your account</h4>
      <form class="card mt-4" *ngIf="!savedSuccessfully" name="userInfoForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? save() :
                (email.errors?.required && showErrorAlert('Email is required', 'Please enter an email address (maximum of 200 characters)'));
                (email.errors?.pattern && showErrorAlert('Invalid Email', 'Please enter a valid email address'));

                (!newPassword.valid && showErrorAlert('New password is required', 'Please enter the new password (minimum of 6 characters)'));

                (newPassword.valid && confirmPassword.errors?.required && showErrorAlert('Confirmation password is required', 'Please enter the confirmation password'));
                (newPassword.valid && confirmPassword.errors?.appValidateEqual && showErrorAlert('Passwword mismatch', 'New password and confirmation password do not match'));
                ">

        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label col" for="fullName-{{uniqueId}}">{{'users.editor.FullName' | translate}}</label>
            <div class="col-lg-12">
              <input type="text" attr.id="fullName-{{uniqueId}}" name="fullName" placeholder="Enter full name"
                class="form-control" [(ngModel)]="userEdit.fullName" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label col" for="email-{{uniqueId}}">{{'users.editor.Email' | translate}}</label>
            <div class="col-lg-12">
              <input type="text" attr.id="email-{{uniqueId}}" name="email" placeholder="Enter email address"
                class="form-control"
                [ngClass]="{'is-valid': f.submitted && email.valid, 'is-invalid' : f.submitted && !email.valid}"
                [(ngModel)]="userEdit.email" #email="ngModel" required maxlength="200"
                pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
              <span *ngIf="showValidationErrors && f.submitted && email.errors?.required" class="invalid-feedback">
                {{'users.editor.EmailRequired' | translate}}
              </span>
              <span *ngIf="showValidationErrors && f.submitted && email.errors?.pattern" class="invalid-feedback">
                {{'users.editor.InvalidEmail' | translate}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label col" for="newPassword-{{uniqueId}}">{{'users.editor.Password' | translate}}</label>
            <div class="col-lg-12">
              <input type="password" attr.id="newPassword-{{uniqueId}}" name="newPassword" placeholder="Enter password" class="form-control"
                [ngClass]="{'is-valid': f.submitted && newPassword.valid, 'is-invalid' : f.submitted && !newPassword.valid}"
                [(ngModel)]="userEdit.newPassword" #newPassword="ngModel" required minlength="6" appValidateEqual="confirmPassword" reverse="true" />
              <span *ngIf="showValidationErrors && f.submitted && !newPassword.valid" class="invalid-feedback">
                {{'users.editor.NewPasswordRequired' | translate}}
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label confirm-label col" for="confirmPassword-{{uniqueId}}">{{'users.editor.ConfirmPassword' | translate}}</label>
            <div class="col-lg-12">
              <input type="password" attr.id="confirmPassword-{{uniqueId}}" name="confirmPassword" placeholder="Confirm password" class="form-control"
                [ngClass]="{'is-valid': f.submitted && confirmPassword.valid, 'is-invalid' : f.submitted && !confirmPassword.valid}"
                [(ngModel)]="userEdit.confirmPassword" #confirmPassword="ngModel" required appValidateEqual="newPassword" />
              <span *ngIf="showValidationErrors && !confirmPassword.valid" class="invalid-feedback">
                {{'users.editor.PasswordMismatch' | translate}}
              </span>
            </div>
          </div>

          <div class="card-footer">
            <div ngPreserveWhitespaces>
              <div class="float-left">Already have an account? <a routerLink="/login">Login</a></div>
              <button type="submit" class="btn btn-primary btn-block float-right" [disabled]="isSaving">
                <i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
                {{isSaving ? ('users.editor.Saving' | translate) :
                ('users.editor.Save' | translate)}}
              </button>
            </div>
          </div>
        </div>
      </form>
      <span *ngIf="savedSuccessfully">Your account is created successfully. Please click here to <a
        [routerLink]="['/login']" class="card-link">login</a></span>
    </div>
  </div>
</div>
