<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">{{ 'projects.Rectangular' | translate }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ 'projects.Round' | translate }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ 'projects.Montagemateriaal' | translate }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ 'projects.Totaal' | translate }}</a>
  </li>
</ul>

<div #spreadsheet></div>
