<div class="container about-page">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>

    <div class="reduced-font" [@fadeInOut]>
        <h4>Welcome to BIMair</h4>
        <p>
          BIMair was created in 2018 as an answer to Janssen Climate Technology. In addition to the installation, the demand for the production of ductwork also increased, causing owners Jorrin Janssen and Armanda Smit to set up the production company BIMair together. With their experience in entrepreneurship and the technical industry, Jorrin and Armanda feel completely at home in this industry.
        </p>

        <h5>Automation & innovation</h5>
        <p>
          BIMair is innovative in the field of climate technology. The supply of high-quality air ducts and specials with transparency in the ordering process is therefore central. Delivery reliability is also a high priority here. Round and rectangular air ducts and specials for various industries are produced from the automated factory in Assen, such as construction, healthcare, food sector or assembly and installation companies.
          <br />
          But BIMair is more than just a producer of channels and specials. We work according to <a href="https://www.bimair.nl/over-BIMair/building-information-modeling-bim">Building Information Modeling</a>; a tool for virtual building using 3D building models. All relevant information - from design to production - is stored, used and managed in this digital system. With this we create fast and complete insight for you as a customer. In addition, processes run smoother than before.
        </p>

        <div style="position: relative" class="bg-light bg-features">
          <h5>What does BIMair stand for?</h5>
          <ul>
            <li>Reliability</li>
            <li>Innovativeness</li>
            <li>Quality</li>
            <li>Cleanliness</li>
            <li>Social attitude</li>
          </ul>
          <p>Would you like more information about BIMair? Then <a href="https://www.bimair.nl/contact">contact</a> us!</p>
        </div>

    </div>
</div>
