:host {
  display: block;
  width  : 100%;
  height : 100%;

  .ngx-datatable {
    height: 100vh;
  }
}

.btn-add {
  float  : right !important;
  padding: 8px;
  margin: 0 6px;
}

.btn {
  color        : #fff;
  float        : right;
  font-size    : 13px;
  border       : none;
  width        : 140px;
  border-radius: 6px;
  border       : none;
  outline      : none !important;
  margin-left  : 10px;

  i {
    float       : left;
    font-size   : 13px;
    margin: 0 8px 0 4px;
    padding-top: 6px;
  }

  span {
    float     : left;
    margin-top: 2px;
  }
}

.btn-sm { color: #04B4E5;}

.action-buttons {
  display: inline-flex;
}


input.form-control {
  border-left-width: 5px;
}

.control-box {
  margin-bottom: 5px;
}

.search-box {
  margin: 0;
}

.nav-item.toolbaritem a {
  padding-top: 3px;
  padding-bottom: 3px;
  min-width: 100px;
  font-weight: bold;
}


.completed {
  text-decoration: line-through;
}

.form-check {
  margin: 0;
}


.inline-label {
  width: 100%;
  min-height: 1rem;
  display: inline-block;
}

.inline-editor {
  width: 100%;
}

.description-form-group {
  margin-bottom: 5px;
}

.actionBtn-form-group {
  margin: 0;
}

.edit-last-separator-hr {
  margin: 10px 0;
}
