:host {
  display: block;
  width  : 100%;
  height : 100%;
}

.container {
  margin-top: 20px;
}

input {
  margin: 0px;
}

.card-footer {
  margin: 30px 0 0 0;
}

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 4%;
  }
}

.dtpicker {
  margin-left: 0 !important;
}

.button-dtpicker {
  margin-top: 35px;
}

.btn-save {
  display: inline;
  width  : auto;
}

.project-title {
  padding       : 3px 0 0 10px;
  vertical-align: middle;
}

.form-project {
  padding-top: 40px;
}

.project-status {
  padding-top: 10px;
}


/* Datepicker popup icon */
button.calendar,
button.calendar:active {
  width              : 2.75rem;
  background-image   : url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
  background-repeat  : no-repeat;
  background-size    : 23px;
  background-position: center;
}

a.btn-link {
  font-size  : 16px;
  font-weight: 600;
  border     : 1px solid;
}
