<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">

      <h4 class="card-title">Create a new Project</h4>
      <form class="card mt-4" *ngIf="!savedSuccessfully" name="projectForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? addProject() : ''">

        <div class="card-body">
          <div class="form-group">
            <label class="col-form-label col" for="name">{{'project.name' | translate}}</label>
            <div class="col-lg-12">
              <input type="text" attr.id="name" name="name" placeholder="Enter full name"
                     class="form-control" [(ngModel)]="project.name" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label col" for="email">{{'project.Email' | translate}}</label>
            <div class="col-lg-12">
              <input type="text" attr.id="email" name="email" placeholder="Enter email address"
                     class="form-control"
                     [ngClass]="{'is-valid': f.submitted && email.valid, 'is-invalid' : f.submitted && !email.valid}"
                     [(ngModel)]="userEdit.email" #email="ngModel" required maxlength="200"
                     pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" />
              <span *ngIf="showValidationErrors && f.submitted && email.errors?.required" class="invalid-feedback">
                {{'project.EmailRequired' | translate}}
              </span>
              <span *ngIf="showValidationErrors && f.submitted && email.errors?.pattern" class="invalid-feedback">
                {{'project.InvalidEmail' | translate}}
              </span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-form-label col" for="newPassword">{{'project.Password' | translate}}</label>
            <div class="col-lg-12">
              <input type="password" attr.id="newPassword" name="newPassword" placeholder="Enter password" class="form-control"
                     [ngClass]="{'is-valid': f.submitted && newPassword.valid, 'is-invalid' : f.submitted && !newPassword.valid}"
                     [(ngModel)]="userEdit.newPassword" #newPassword="ngModel" required minlength="6" appValidateEqual="confirmPassword" reverse="true" />
              <span *ngIf="showValidationErrors && f.submitted && !newPassword.valid" class="invalid-feedback">
                {{'project.NewPasswordRequired' | translate}}
              </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-form-label confirm-label col" for="confirmPassword">{{'project.ConfirmPassword' | translate}}</label>
            <div class="col-lg-12">
              <input type="password" attr.id="confirmPassword" name="confirmPassword" placeholder="Confirm password" class="form-control"
                     [ngClass]="{'is-valid': f.submitted && confirmPassword.valid, 'is-invalid' : f.submitted && !confirmPassword.valid}"
                     [(ngModel)]="userEdit.confirmPassword" #confirmPassword="ngModel" required appValidateEqual="newPassword" />
              <span *ngIf="showValidationErrors && !confirmPassword.valid" class="invalid-feedback">
                {{'project.PasswordMismatch' | translate}}
              </span>
            </div>
          </div>

          <div class="card-footer">
            <div ngPreserveWhitespaces>
              <div class="float-left">Already have an account? <a routerLink="/login">Login</a></div>
              <button type="submit" class="btn btn-primary btn-block float-right" [disabled]="isSaving">
                <i *ngIf="isSaving" class='fa fa-circle-o-notch fa-spin'></i>
                {{
isSaving ? ('project.Saving' | translate) :
                ('project.Save' | translate)
                }}
              </button>
            </div>
          </div>
        </div>
      </form>
      <span *ngIf="savedSuccessfully">
        Your account is created successfully. Please click here to <a [routerLink]="['/login']" class="card-link">login</a>
      </span>
    </div>
  </div>
</div>

