<p>Hello,</p>
<p>We've received a request to reset the password for the BIMair account associated with [email]. No changes have been made to your account yet.</p>
<p>If you did not make this request then please ignore this email.</p>
<p>
	Otherwise, please click this link to change your password: <a href="[link]">Reset your password</a>
</p>
<p>
	<br />
</p>
<p>The BIMair team<br/>
Assen<br/>
+31 (0) 88 056 8900<br/>
info@bimair.nl
</p>
