<p>Dear Customer!</p>
<p>Thank you for choosing BIMair!</p>
<p>For further technical questions and support, please contact us at info@bimair.nl</p>
<p>We are looking forward to cooperating with you!</p>
<p>
	<br />
</p>
<p>
	Best Regards,<br />
	The BIMair team<br />
	Assen<br/>
	+31 (0) 88 056 8900<br/>
	info@bimair.nl
</p>






